In [11]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from itertools import cycle
#cycol = cycle('bgrcmk').next

# Step 3. re-load data
myfilename = 'grouped_lookthrough.csv'
df = pd.read_csv(myfilename, header=None, sep=",")
df.columns=['region', 'sector', 'risk_measure']

In [12]:
df.head()

  region         sector  risk_measure
0   'US'   'Financials'        123.40
1   'UK'   'Financials'          1.22
2   'US'       'Retail'         12.30